[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
openpyxl = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dash = "*"
dash-bootstrap-components = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
